<div class="row">
  <form method="post" class="multi">
    <fieldset>
      <!-- Form Name -->
      <legend>{{texts.DOMAIN_LOOKUP}}</legend>

      <div class="error-container"></div>

      <div class="form-inputs">
        <div class="input-group">
          <span class="input-group-addon">www.</span>
          <input type="text" class="form-control" id="your-domain" name="your-domain" placeholder="{{texts.YOUR_DOMAIN}}">
          <span class="input-group-addon" id="dot">.</span>
          <div class="chosen-wrapper" id="tld-package">
            <select class="form-control">
              <optgroup label="{{texts.PACKAGES}}">
                {{#each config.tldpackages}}
                  {{#ifCond ../config.appearance.defaultSelection @key}}
                    <option data-tlds="{{join this.tlds delimiter=", "}}" selected>{{{@key}}}</option>
                  {{else}}
                    <option data-tlds="{{join this.tlds delimiter=", "}}">{{{@key}}}</option>
                  {{/ifCond}}
                {{/each}}
              </optgroup>
              <optgroup label="{{texts.TLDS}}">
                {{#each config.tlds}}
                  {{#ifCond ../config.appearance.defaultSelection this}}
                    <option data-tlds="{{{this}}}" selected>{{{this}}}</option>
                  {{else}}
                    <option data-tlds="{{{this}}}">{{{this}}}</option>
                  {{/ifCond}}
                {{/each}}
              </optgroup>
            </select><!-- /.form-control -->
          </div>
        </div><!-- /.input-group -->
      </div><!-- /.form-inputs -->
    </fieldset>
    <hr>
    <div class="form-group">
      <center>
        {{#if config.general.enableCaptcha}}
          <div class="captcha">
            {{{captcha}}}
          </div>
        {{/if}}
        <a href="#" class="btn btn-primary btn-lg submit ladda-button" data-style="expand-right" data-size="l"><span class="ladda-label">{{texts.LOOKUP}}</span></a>
      </center
    </div>
  </form>
  <hr>
  <div class="lookup-results">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-10">{{texts.DOMAIN}}</th>
          <th class="col-md-1">{{texts.AVAILABILITY}}</th>
          <th class="col-md-1">{{texts.ORDER}}</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <a href="#" class="btn btn-success pull-right btn-sm purchase">{{texts.ORDER}}</a>
  </div>
</div><!-- /.row -->
