<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="webwhois">
    <meta name="author" content="Jonas Friedmann <j@frd.mn>">
    <meta name="description" content="{{{config.appearance.description}}}">

    <title>{{{config.appearance.title}}}{{#if title}} - {{{title}}}{{/if}}</title>

    <!-- Compiled CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>

  <body class="navbar-padding">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{texts.TOGGLE_NAVIGATION}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{{config.appearance.title}}}</a>
        </div><!--/.navbar-header -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">{{texts.DASHBOARD}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </nav><!--/.navbar -->

    <div class="container">
      {{{body}}}
    </div><!-- /.container -->

    {{#if config.appearance.disableFooter}}
    {{else}}
      <footer class="footer">
        <p class="text-muted pull-left">{{texts.FOOTER_MADE_BY}} <strong><a href="https://frd.mn" target="_blank" href="#">frdmn</a></strong> {{texts.LICENSE_UNDER}} <a href="https://github.com/frdmn/webwhois/blob/master/LICENSE" target="_blank">MIT</a> {{texts.LICENSE}}.</p>
        <p class="text-muted pull-right"><i class="icon-large icon-github"></i><a href="https://github.com/frdmn/webwhois" target="_blank">webwhois</a> v{{{config.version}}}</p>
      </footer>
    {{/if}}

    <script src="javascripts/build.js"></script>
  </body>
</html>
